<h1 class="title is-3"> About This Project <h1>
<p> This is a simple webapp clone build with ruby on rails that, covers the most basic functionality of the famous <a href="https://www.reddit.com">reddit.com</a></p>
<p> <a href="https://github.com/azdrenymeri/reddit-clone">Github Repository</a>