<div class="container">
    <div class="columns">
        <div class="column is-6">
            <section class="section">
                <div class="container">
                    <h1 class="title">Wellcome</h1>
                    <h2 class="subtitle">
                        A simple reddit clone with basic functionality
                    </h2>
                </div>
            </section>
        </div>
        <div class="column is-6">
            <section class="section">
                <div class="container">
                    <h1 class="title">Some of the features</h1>
                    <h2 class="subtitle">
                     <ul>
                        <li> Login </li>
                        <li> Signup </li>
                        <li> Create a subreddit </li>
                        <li> Post on a subreddit </li>
                        <li> Comment on a post </li>
                         <li> <em>New features comming soon</em> </li>
                     </ul>
                    </h2>
                </div>
            </section>
        </div>
    </div>
</div>

