<div class="row">

    <div class="col-sm">
      <h1 class="m-3">Wellcome</h1>
                    <h3 class="m-3">
                        A simple reddit clone with basic functionality
                    </h3>
    </div>
    <div class="col-sm">
     <h1 class="m-3">Some of the features</h1>
     <div class="m-3">
     <p class="text-secondary">Login</p>
     <p class="text-secondary">Signup</p>
     <p class="text-secondary"> Create a subreddit</p>
     <p class="text-secondary">Post on a subreddit</p>
     <p class="text-secondary">Comment on a post</p>
     <p class="text-secondary">Edit user profile</p>
     <p class="text-secondary"><em>New features comming soon</em></p>
     </div>
     
    </div>
</div>

