  <div class="row">
    <div class="col-md-9 mt-3" style="padding-left: 0px;">
      <% if @posts.size > 0 %>
        
        <% @posts.each do |post| %>
        <%= render partial:'shared/posts/post_card', locals: {post:post,top:true} %>
        <% end %>
        
      <% else %>
          <p class="text-muted m-2"> No posts,start joining some subreddits </p>
      
      <% end %>
    </div>
    <div class="col-md-3 mt-3" style="padding-left: 0px;">
      <%= render partial: 'shared/top_communities_card', locals: {top_communities: @top_communities} %>
    </div>
  </div>
