  <div class="row">
    <div class="col-md-9 mt-3" style="padding-left: 0px;">
      <% if @posts.size > 0 %>
        <% @posts.each do |post| %>
        <%= render partial:'shared/posts/post_card', locals: {post:post} %>
        <% end %>
        <% else %>
          <p class="text-muted m-2"> No posts,start joining some subreddits </p>
        <% end %>
    </div>
    <div class="col-md-3 mt-3" style="padding-left: 0px;">
        <div class="card bg-light mb-3">
  <div class="card-header">Top Communities</div>
  <div class="card-body">
    <h5 class="card-title">Light card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
    </div>
  </div>
