<div class="columns">

<div class="column is-9">
<% @subreddits.each do |sub_reddit| %>
<%= link_to(sub_reddit_path(sub_reddit)) do %>
  <div class="card sub-reddit-item">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
        <% if sub_reddit.background_picture.attached? %>
        <%= image_tag sub_reddit.background_picture, class:'list-image' %>
        <% else %>
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="image not found">
       <% end %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"> <%= sub_reddit.title %></p>
        <p class="subtitle is-6"><%= sub_reddit.description %></p>
      </div>
    </div>
  </div>
</div>
<% end %>


<% end %>
</div>
<div class="column is-3">
  <nav class="panel">
  <p class="panel-heading">
    Top Comunities
  </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input" type="text" placeholder="Search">
      <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>
  <p class="panel-tabs">
    <a class="is-active">All</a>
    <a>Public</a>
    <a>Private</a>
    <a>Sources</a>
    <a>Forks</a>
  </p>
  <a class="panel-block is-active">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    bulma
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    marksheet
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    minireset.css
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    jgthms.github.io
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-code-branch" aria-hidden="true"></i>
    </span>
    daniellowtw/infboard
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-code-branch" aria-hidden="true"></i>
    </span>
    mojs
  </a>
  <label class="panel-block">
    <input type="checkbox">
    remember me
  </label>
  <div class="panel-block">
    <button class="button is-link is-outlined is-fullwidth">
      Reset all filters
    </button>
  </div>
</nav>
</div>
</div>