<div class="row">
	<p class="text-info">Work in progress</p>
	
	<% @subreddits.each do |sub|  %>
	<div class="card">
		<div class="card-title">
			<%= sub.title %>	
		</div>
	</div>

	<% end %>
</div>