<section class="hero is-medium is-info is-bold hero-mod">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @sub_reddit.title %>
      </h1>
      <h2 class="subtitle">
        <%= @sub_reddit.description %>
      </h2>
    </div>
  </div>
</section>
<div class="columns">
    <div class="column is-1"></div>
    <div class="column is-10">
        <!-- Comments section -->
    </div>
    <div class="column is-2"></div>
</div>