<div class="card">
	<div class="card-header">
<%= form_for @comment,url: sub_reddit_post_comments_path(post_id: params[:id]), method: 'post' do |f| %>
  <div class="form-group">
    <div class="control">
      <%= f.label :content,'Write a comment'%>
      <%= f.text_area :content,
                class: 'form-control', 
                placeholder: 'Write a comment' %>
    </div>
  </div>
 <%= f.submit "Comment",class:"btn btn-outline-primary" %>
<% end %>		

	</div>
</div>
