/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "bootstrap";


//  Sizing properties
.w-10 {
    width: 10% !important;
}
.w-15 {
   width: 15% !important;
}
.w-20 {
    width: 20% !important;
}


// navbar modifications
.subredit-dropdown {
background-color: #f8f9fa;
border: 1px solid #f8f9fa;
float: clear;
}
.subredit-dropdown:focus {
   background-color: white;
   border: 1px solid #ced4da;
   border-radius: 0.25rem;
}
.subredit-dropdown:hover {
   border-radius: 0.25rem;
   border: 1px solid #ced4da;
}
 .nav-user-icon {
    border-radius: 30px;
    height: 30px;
    width: 30px;
    object-fit: cover;
 }

/* flash properties */
.alert-notice{
   color: #155724;
   background-color: #d4edda;
   border-color: #c3e6cb;
}
.alert-alert{
   color: #721c24;
   background-color: #f8d7da;
   border-color: #f5c6cb;
}
.hidden {
   display: none;
}

.mod-alert {
  position: absolute;
  z-index: 1;
  margin: 1rem auto !important;
  left: 10rem;
  right: 10rem;
  opacity: 0.9;
}

//  ServerSide error handling
#error_explanation {
   color: #721c24;
   background-color: #f8d7da;
   border-color: #f5c6cb;
   position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

#error_explanation > h2 {
   font-size: 1.3rem;
}
#error_explanation > ul {
   padding:0;
}
#error_explanation > ul > li {
   list-style-type: none;

}