<div class="card m-1">
  <div class="card-body">
    <h5 class="card-title"> 
    	<%= post.title %>  
    	<span class="card-subtitle mb-2 text-muted" style="font-size: 0.9rem"> r/<%= post.sub_reddit.title %> </span>
    </h5>  
    <p class="card-text"> <%= post.content %> </p>
    <span class="card-link" style="font-size: 0.95rem;font-style: italic;"><%= time_ago_in_words(post.created_at) %> </span>
  </div>
</div>